// VARIABLES DE COLOR


$blanco_0: #FFFFFF;
$negro_0: #000000;
$hoverText: #aaac97;
$textWeb: #aaac97;
//Alertas
$alerta:  #ebb1c5;
$colorAlerta:  #c2185b;
$colorExito: #C8E6C9;
$verde:  #4d7a4e;

//MENU
$color_web: #243238;




$header:  hsl(60, 30%, 95%);
$main: #FFFFFF;
$aside: #f7f5f5;
$footer: #dbd5d5;
//$height_m: 4em;

.icon-users{
    color: blue;
  
}


// Variables de color ventas