@import "variables";
@import "reset";
@import "mixin";
@import "aside";
@import "footer";
@import "nav";


body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #080808;
}

.header{
    grid-area: header; text-align: center;
    @include linear-gradient(black, #6d7c86);
    color: white;
}

.nav-bar{
    grid-area: nav-bar; 
    background-color: #6d7c86;
}

.main{
    grid-area: main; 
    background-color: white;
}

.box-ppal{
    
    height: 100%;    
    width: 94%; margin: 0 auto;
    
}

.aside{
    grid-area: aside;
    background-color: #ffffff;
    width: 100%;
        
}


.footer{
    grid-area: footer;
    color: white;
}

.grid-contenedor{
    display: grid;
    grid-template:
    "nav-bar" 4em
    "header" 10em       
    "main"
    "aside"
    "footer"
    ;
}

@media(min-width: 720px){
    .grid-contenedor{
    display: grid;
    grid-template:
    "nav-bar nav-bar" 4em
    "header header" 10em     
    "main aside" auto   
    "footer footer" 10em/ 63% auto;
    ;

    }
}

@media(min-width:1024px){
    .box-ppal{
        margin: 0%;
        margin-left: 6%;
    }
}